    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Seán Gantly</h2>
                <p>I am a commercially minded, customer-focused Senior Product Manager with over 10 years of experience in the Fintech industry achieving business goals through innovative technology solutions across both B2B & B2B2C business models. I merge strategic thinking with close attention to detail & data analysis.  I am looking to join a tech-focused, growing & ambitious company that is aiming to provide best in class products that delight customers.</p>
            </div>
        </div>
    </section>
